if TARGET_AGT300_22

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-mb023"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-fpu-agt300-22"

endif

if TARGET_AGT725_3

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-mb023"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-agt725-3"

endif

if TARGET_AGT725_10

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-mb023"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-agt725-10"

endif

if TARGET_AGT300_23

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-mb023"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-fpu-agt300-23"

endif
