if TARGET_AGT301_20

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-agt301-20"

endif

if TARGET_AGT100_29

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-fpu-agt100-29"

endif

if TARGET_AGT100_31

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-fpu-agt100-31"

endif

if TARGET_AGT725_2

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-fpu-agt725-2"

endif

if TARGET_AGT725_7

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-fpu-agt725-7"
endif

if TARGET_AGT725_6

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
		default "hc1725-fpu-agt725-6"
endif

if TARGET_AGT725_9

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-fpu-agt725-9"
endif

if TARGET_AGT725_11

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-agt725-11"
endif

if TARGET_AGT301_23

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1725-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1725-agt301-23"

endif
