/dts-v1/;
#include "hc1725.dtsi"

/ {
	model = "Augentix AGT725-3";

	augentix_amp: augentix_amp {
		status = "okay";
	};

	soc@80000000 {
		i2c0: i2c@80070000 {
			status = "okay";
		};

		i2c1: i2c@80080000 {
			// status = "okay";
		};

		uart0: uart@80820000 {
			status = "okay";
		};

		sdc0: sdc@818A0000 {
			status = "okay";
		};

		sdc1_p0: sdc1_p0@818C0000 {
			// status = "okay";
		};

		sdc1_p1: sdc1_p1@818C0000 {
			// status = "okay";
		};

		pwm: pwm@80060000 {
			// status = "okay";
		};

		usbc: usbc@A0000000 {
			dr_mode = "host";
			status = "okay";
		};

		usb2_phy: usbphy@0 {
			status = "okay";
		};

		mpp {
			isp@82000000 {
				quality-mode = <0>;
			};

			enc@81001000 {
				bsb-size = <0xC0000 0x40000 0x0 0x0>;
				rd-buf-size = <0x40000>;
				snapshot-size = <0x60000>;
				rd-buf-num = <4>;
			};
		};

		qspi: spi@83610000{
			status = "okay";
			nor@0{
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "augentix,m25p80", "augentix,spi-nor";
				reg = <0>;
				spi-tx-bus-width = <4>;
				spi-rx-bus-width = <4>;
				m25p,fast-read;
				status = "okay";
			};
		};

		gpio: gpio@80001800 {
			aioc_gpio = <0x0 0x0>;
			pioc0_gpio = <0x0 0x0>;
			pioc1_gpio = <0x0 0x0>;
			pioc2_gpio = <0x0 0x0>;
			mipi_tx_gpio_o_0 = <0x0>;
			status = "okay";
		};

		gpio_test: gpio_test {
			compatible = "augentix,gpio-test";
			aioc-gpios = <&gpio 68 GPIO_ACTIVE_HIGH>;
			pioc0-gpios = <&gpio 0 GPIO_ACTIVE_HIGH>, <&gpio 15 GPIO_ACTIVE_HIGH>, <&gpio 20 GPIO_ACTIVE_HIGH>, <&gpio 25 GPIO_ACTIVE_HIGH>, <&gpio 31 GPIO_ACTIVE_HIGH>;
			pioc1-gpios = <&gpio 32 GPIO_ACTIVE_HIGH>, <&gpio 40 GPIO_ACTIVE_HIGH>, <&gpio 50 GPIO_ACTIVE_HIGH>, <&gpio 55 GPIO_ACTIVE_HIGH>, <&gpio 63 GPIO_ACTIVE_HIGH>;
			pioc2-gpios = <&gpio 64 GPIO_ACTIVE_HIGH>, <&gpio 65 GPIO_ACTIVE_HIGH>, <&gpio 66 GPIO_ACTIVE_HIGH>, <&gpio 67 GPIO_ACTIVE_HIGH>;
			mipitx-gpios = <&gpio 81 GPIO_ACTIVE_HIGH>, <&gpio 84 GPIO_ACTIVE_HIGH>, <&gpio 86 GPIO_ACTIVE_HIGH>, <&gpio 88 GPIO_ACTIVE_HIGH>, <&gpio 90 GPIO_ACTIVE_HIGH>;
			status = "disable";
		};

		clk_test: clk_test {
			compatible = "augentix,clk-test";
			clocks = <&clkc 0>, <&clkc 1>, <&clkc 2>, <&clkc 3>, <&clkc 4>, <&clkc 5>, <&clkc 6>, <&clkc 7>, <&clkc 8>, <&clkc 9>, <&clkc 10>, <&clkc 11>, <&clkc 12>, <&clkc 13>, <&clkc 14>, <&clkc 15>, <&clkc 16>, <&clkc 17>, <&clkc 18>, <&clkc 19>, <&clkc 20>, <&clkc 21>, <&clkc 22>, <&clkc 23>, <&clkc 24>, <&clkc 25>, <&clkc 26>, <&clkc 27>, <&clkc 28>, <&clkc 29>, <&clkc 30>, <&clkc 31>, <&clkc 32>, <&clkc 33>, <&clkc 34>, <&clkc 35>, <&clkc 36>, <&clkc 37>, <&clkc 38>, <&clkc 39>, <&clkc 40>, <&clkc 41>, <&clkc 42>, <&clkc 43>, <&clkc 44>, <&clkc 45>, <&clkc 46>, <&clkc 47>, <&clkc 48>, <&clkc 49>, <&clkc 50>, <&clkc 51>, <&clkc 52>, <&clkc 53>;
			status = "disable";
		};

		ethernet2@81880000 {
			status = "okay";
			phy-reset-gpios = <&gpio 26 GPIO_ACTIVE_HIGH>;
		};

		adc@80100000 {
			status = "okay";
		};

		audio_pcm@80100000 {
			status = "okay";
			audio-output-amp-en-gpios = <&gpio 66 GPIO_ACTIVE_HIGH>;
		};

		audio_machine {
			status = "okay";
		};

		i2c_gpio_test {
			compatible = "i2c-gpio";
			gpios = <&gpio 15 GPIO_ACTIVE_HIGH   /* SDA */
				 &gpio 14 GPIO_ACTIVE_HIGH>; /* SCL */
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			i2c-gpio,delay-us = <5>; /* ~100 kHz */
		};

		timer_test: timer_test {
			compatible = "augentix,timer-test";
			pioc0-gpios = <&gpio 66 GPIO_ACTIVE_HIGH>, <&gpio 67 GPIO_ACTIVE_HIGH>;
			interrupts = <0 99 4>;
			status = "okay";
		};

	};
};
