if TARGET_AGT804_43

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "ihome1-ma804043-v3"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1703-agt804-43"

endif
