if TARGET_HC1723_MB023_NOR_8MB

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1723-mb023-nor-8mb"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1723-mb023-nor-8mb"

endif

