if TARGET_AGT706_3

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706h-mb033"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706h-agt706-3"

endif

if TARGET_AGT706_6

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706h-mb033"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706h-agt706-6"

endif

if TARGET_AGT706_11

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706h-mb033"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706h-agt706-11"

endif

if TARGET_AGT706_12

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706h-mb033"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706h-agt706-12"

endif

if TARGET_AGT706_13

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706h-mb033"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706h-agt706-13"

endif

