if TARGET_HC1723_TB007

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1723-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1723-tb007"

endif

if TARGET_AGT100_22

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1723-tb007"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1723-agt100-22"

endif
