if TARGET_HC1726_TB012_SLT

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-tb012-slt"

endif

if TARGET_AGT726_1

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-agt726-1"

endif

if TARGET_AGT726_4

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-agt726-4"

endif

if TARGET_AGT726_3

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-agt726-3"

endif

if TARGET_AGT726_5

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-agt726-5"

endif

if TARGET_AGT726_7

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-agt726-7"

endif

if TARGET_AGT726_10

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-agt726-10"

endif

if TARGET_AGT726_11

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-agt726-11"

endif

if TARGET_AGT726_12

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-agt726-12"

endif


if TARGET_AGT726_7

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-agt726-7"

endif

if TARGET_DFN202_113002

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-dfn202-113002"

endif

if TARGET_STR726_13

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1726-tb012"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1726-str726-13"

endif
