if TARGET_AGT804_45

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "agt-ma804045-v1"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1703l-agt804-45"

endif
