if TARGET_AGT100_30

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "agt-ma100030-v1"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1723i-agt100-30"

endif
