if TARGET_AGT706_1

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706-tb010"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706-agt706-1"

endif

if TARGET_AGT706_1_AMP

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706-tb010"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706-agt706-1-amp"

endif

if TARGET_AGT706_1_NAND

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706-tb010"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706-agt706-1-nand"

endif

if TARGET_AGT706_4

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706-tb010"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706-agt706-4"

endif

if TARGET_HC1706_TB010_SLT

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706-tb010"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706-tb010-slt"

endif

if TARGET_AGT706_9

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706-tb010"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706h-agt706-9"

endif

if TARGET_AGT706_10

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1706-tb010"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1706h-agt706-10"

endif
