if TARGET_AGT785_1

# board/SYS_VENDOR/SYS_BOARD
config SYS_VENDOR
	default "augentix"
config SYS_BOARD
	default "hc1785"
# include/config/SYS_CONFIG_NAME.h
config SYS_CONFIG_NAME
	default "hc1785-agt785-1"

endif
